/* Global Styles */
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Header Container */
.headerContainer {
    display: flex;
    justify-content: space-between; /* Space between logo, form, and navigation */
    align-items: center;
    padding: 10px 50px;
    position: sticky; /* Sticks header at the top on scroll */
    top: 0;
    z-index: 1000; /* Ensures header is above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Logo Styling */
.logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

/* Collection Heading */
#collection h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.logo h1 span {
    color: blueviolet; /* Color of dot in logo */
}

/* Form Styling */
.form form {
    display: flex;
    align-items: center;
}

.form input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form button {
    padding: 8px 16px;
    margin-left: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.form button:hover {
    background-color: #333; /* Darker background on hover */
}

/* Navigation Links */
.navigation ul {
    display: flex;
    gap: 20px; /* Space between links */
    list-style: none; /* Remove bullet points */
}

.navigation ul li a {
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease; /* Smooth transition */
}

.navigation ul li a:hover {
    color: blueviolet; /* Change color on hover */
}
